<div class="container">

  <div class="row">

    <div class="col-md-12">

      <!--  <button id="getMusic" class="btn btn-default btn-lg" type="button">Get Music</button> -->
      <br>
      <br>

    </div>

    <div id="data" class="col-md-12">
      <div class="input-group">
        <input id="ordername" type="text" class="form-control" placeholder="Enter Your Name" aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
        <input id="orderaddr" type="text" class="form-control" placeholder="Enter Your Address" aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
        <input id="orderphone" type="text" class="form-control" placeholder="Enter Your Phone Number" aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
        <input id="orderemail" type="text" class="form-control" placeholder="Enter Your email" aria-describedby="basic-addon1">
      </div>

      <br> How many song/album's would you like?
      ?
      <!-- boostrap radio class and added rButton classes and each have different text-->
      <div class="radio inline control-label">
        <input type="radio" name="support" value="youtube" checked class="rButton"> 1
      </div>
      <div class="radio inline control-label">
        <input type="radio" name="support" value="couple" class="rButton">2
      </div>
      <div class="radio inline control-label" id="myMore">
        <input type="radio" name="support" value="more" class="rButton"> 3
      </div>
    </div>


  </div>
</div>
